/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

html {
    box-sizing: border-box;
    font-family: serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #FAF7F0;
    font-family: "Outfit", sans-serif;
    color: #4A4947;
}

button {
	background: none;
	color: inherit;
	border: none;
    padding: 0;
	outline: inherit;
    font-size: inherit;
    font: inherit;
    cursor: pointer;
}

nav {
    border-radius: 25px;
    background-color: #D8D2C2;
    width: 81.5vw;
    height: 10vh;
    margin-top: 5.625vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon {
    font-size: 3.125rem;
    justify-content: start;
    margin-left: 3vw;
}

#nav-items {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-item {
    font-weight: 700;
    font-size: 2.25rem;
    margin-right: 3vw;
    text-decoration: none;
}

.nav-item, .nav-item:visited, .nav-item:hover {
    color: #B17457;
}

#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero {
    width: 81.5vw;
    margin-top: 5.625vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-text {
    width: 36.5vw;
}

h1 {
    font-weight: 900;
    font-size: 5rem;
    width: 100%;
    height: 16vh;
    display: flex;
    align-items: end;
}

h2 {
    font-weight: 700;
    margin-top: 5.625vh;
    font-size: 2.25rem;
    color: #B17457;
    height: 16vh;
    width: 100%;
}

#logo {
    width: 36.5vw;
}

#logo > img {
    width: 100%;
    height: 100%;
}

#learn-more {
    width: 24.25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11.25vh;
}

#action-text {
    width: 100%;
    height: 5.625vh;
    background-color: #D8D2C2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#action-btn {
    margin-top: 1.75vh;
    font-size: 2.125rem;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 81.5vw;
    margin-top: 5.625vh;
    display: flex;
    justify-content: space-between;
}

.section:last-child {
    padding-bottom: 5.625vh;
}

h4 {
    font-size: 5rem;
    width: 36.5vw;
    height: 14vh;
    color: #B17457;
    font-weight: 900;
    display: flex;
    align-items: end;
}

.section-text {
    font-weight: 500;
    width: 36.5vw;
    margin-top: 5.625vh;
    background-color: #D8D2C2;
    height: 36.5vw;
    border-radius: 25px;
    color: #4A4947;
    display: flex;
    justify-content: center;
}

p {
    margin: 2vw;
    font-size: 2rem;
}

.section-img {
    width: 36.5vw;
    height: 100%;
    background-color: #D8D2C2;
    border-radius: 25px;
}

#calendar {
    width: 81.5vw;
    height: 600px;
    border-radius: 25px;
    background-color: #D8D2C2;
    margin-top: 5.625vh;
}

#events {
    width: 81.5vw;
    margin-top: 5.625vh;
    display: flex;
    flex-direction: column;
}

#events h4 {
    width: 81.5vw;
}
